<a href="https://colab.research.google.com/github/VijayTaori/merged_et_close/blob/main/detailedPlusSpread_correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import time
import calendar

In [3]:
df_open_merged = pd.read_csv('/content/crypto_et_open_merged.csv')
df_close_merged = pd.read_csv('/content/crypto_et_closed_merged.csv')

In [4]:
df_open_merged['Date'] = pd.to_datetime(df_open_merged['Date'],dayfirst=True)
df_open_merged['Open Date'] = pd.to_datetime(df_open_merged['Open Date'],dayfirst=True)
df_close_merged['Date'] = pd.to_datetime(df_close_merged['Date'],dayfirst=True)
df_close_merged['Close Date'] = pd.to_datetime(df_close_merged['Close Date'],dayfirst=True)

In [6]:
df_new = pd.read_excel('/content/etoro-account-statement-1-1-2021-12-31-2021.xlsx',sheet_name=2)
df = pd.read_excel('Assesment of taxes 2020_etoro.xlsx', sheet_name=0)
df_new_2022 = pd.read_excel('/content/etoro-account-statement-1-1-2022-12-31-2022_Pandas.xlsx',sheet_name=2)
df1 = df.drop(['Leverage',
               'Stop lose rate',
               'Take profit rate',
               'Stop lose rate',
               'Rollover Fees and Dividends',
               'Copied From',
               'Type'
               ], axis=1)
df_new_1 = df_new.drop(['Leverage',
               'Stop lose rate',
               'Take profit rate',
               'Stop lose rate',
               'Rollover Fees and Dividends',
               'Copied From',
               'Type', 'Notes', 'ISIN'
               ], axis=1)
df_new_2022_1 = df_new_2022.drop(['Leverage',
               'Stop lose rate',
               'Take profit rate',
               'Stop lose rate',
               'Rollover Fees and Dividends',
               'Copied From',
               'Type', 'Notes', 'ISIN'
               ], axis=1)
df_20_open = df1[['Position ID', 
                'Action', 'Amount', 'Units', 'Open Date', 'Open Rate']]
df_21_open = df_new_1[['Position ID', 
                'Action', 'Amount', 'Units', 'Open Date', 'Open Rate']]
df_22_open = df_new_2022_1[['Position ID', 
                'Action', 'Amount', 'Units', 'Open Date', 'Open Rate']]
df_20_close = df1[['Position ID', 
                'Action', 'Units', 'Close Date', 
                'Close Rate','Spread', 'Profit']]
df_21_close = df_new_1[['Position ID', 
                'Action', 'Units', 'Close Date', 
                'Close Rate','Spread', 'Profit']]
df_22_close = df_new_2022_1[['Position ID', 
                'Action', 'Units', 'Close Date', 
                'Close Rate','Spread', 'Profit']]

In [ ]:
df_eur_all = pd.read_csv('/content/eur_usd_all_plus_weekends.csv')
df_eur_all

In [10]:
df_eur_all['Date'] = pd.to_datetime(df_eur_all['Date'],dayfirst=True)

In [ ]:
df_20_open['Open Date'] = pd.to_datetime(df_20_open['Open Date'],dayfirst=True)
df_21_open['Open Date'] = pd.to_datetime(df_21_open['Open Date'],dayfirst=True)
df_22_open['Open Date'] = pd.to_datetime(df_22_open['Open Date'],dayfirst=True)
df_20_close['Close Date'] = pd.to_datetime(df_20_close['Close Date'],dayfirst=True)
df_21_close['Close Date'] = pd.to_datetime(df_21_close['Close Date'],dayfirst=True)
df_22_close['Close Date'] = pd.to_datetime(df_22_close['Close Date'],dayfirst=True)

In [12]:
def datetime2date(date_time):
  date = date_time.date()
  return date

In [ ]:
df_20_open['Date'] = df_20_open['Open Date']
df_20_open['Date'] = pd.to_datetime(df_20_open['Date'],dayfirst=True)
df_20_open['Date'] = df_20_open['Date'].map(datetime2date)
df_21_open['Date'] = df_21_open['Open Date']
df_21_open['Date'] = pd.to_datetime(df_21_open['Date'],dayfirst=True)
df_21_open['Date'] = df_21_open['Date'].map(datetime2date)
df_22_open['Date'] = df_22_open['Open Date']
df_22_open['Date'] = pd.to_datetime(df_22_open['Date'],dayfirst=True)
df_22_open['Date'] = df_22_open['Date'].map(datetime2date)
df_20_close['Date'] = df_20_close['Close Date']
df_20_close['Date'] = pd.to_datetime(df_20_close['Date'],dayfirst=True)
df_20_close['Date'] = df_20_close['Date'].map(datetime2date)
df_21_close['Date'] = df_21_close['Close Date']
df_21_close['Date'] = pd.to_datetime(df_21_close['Date'],dayfirst=True)
df_21_close['Date'] = df_21_close['Date'].map(datetime2date)
df_22_close['Date'] = df_22_close['Close Date']
df_22_close['Date'] = pd.to_datetime(df_22_close['Date'],dayfirst=True)
df_22_close['Date'] = df_22_close['Date'].map(datetime2date)
df_20_open['Date'] = pd.to_datetime(df_20_open['Date'],dayfirst=True)
df_20_close['Date'] = pd.to_datetime(df_20_close['Date'],dayfirst=True)
df_21_open['Date'] = pd.to_datetime(df_21_open['Date'],dayfirst=True)
df_21_close['Date'] = pd.to_datetime(df_21_close['Date'],dayfirst=True)
df_22_open['Date'] = pd.to_datetime(df_22_open['Date'],dayfirst=True)
df_22_close['Date'] = pd.to_datetime(df_22_close['Date'],dayfirst=True)

In [ ]:
df_20_open

In [16]:
df_et_open = pd.concat([df_20_open,df_21_open,df_22_open])

In [ ]:
df_20_close

In [18]:
df_et_close = pd.concat([df_20_close,df_21_close,df_22_close])

In [19]:
df_et_open.reset_index(inplace=True)
df_et_open.drop('index',axis=1,inplace=True)
df_et_close.reset_index(inplace=True)
df_et_close.drop('index',axis=1,inplace=True)

In [ ]:
df_find_na = df_et_open # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

In [ ]:
df_find_na = df_et_close # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

In [22]:
def convert2UnixTimestamp(date_time):
  unix_timestamp = time.mktime(date_time.timetuple())
  return unix_timestamp

In [23]:
df_et_open['open_unix_timestamp'] = df_et_open['Open Date'].map(convert2UnixTimestamp)
df_et_close['close_unix_timestamp'] = df_et_close['Close Date'].map(convert2UnixTimestamp)

In [ ]:
'''
Warning!!! the euro to usd is not included in these files.
Everything else is until here is included.
df_et_open.to_csv('crypto_et_open_unixTstm.csv',index=False)
df_et_close.to_csv('crypto_et_close_unixTstm.csv',index=False)
'''

In [26]:
df_et_close_eur1 = pd.merge(df_et_close, df_eur_all, on='Date')
df_et_open_eur1 = pd.merge(df_et_open, df_eur_all, on='Date')

In [ ]:
df_et_open_eur1.nunique()

In [ ]:
df_et_close_eur1.nunique()

In [ ]:
df_find_na = df_et_open_eur1 # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

In [ ]:
df_find_na = df_et_close_eur1 # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

In [35]:
df_et_open_eur1['Amount_Eur'] = df_et_open_eur1['Amount']/df_et_open_eur1['Low']
df_et_open_eur1['Open Rate_Eur'] = df_et_open_eur1['Open Rate']/df_et_open_eur1['Low']
df_et_close_eur1['Close Rate_Eur'] = df_et_close_eur1['Close Rate']/df_et_close_eur1['High']
df_et_close_eur1['Amount_close_Eur'] = df_et_close_eur1['Close Rate_Eur']*df_et_close_eur1['Units']
df_et_close_eur1['Spread_Eur'] = df_et_close_eur1['Spread']/df_et_close_eur1['Low']

In [ ]:
df_et_close_eur1.transpose()

In [ ]:
df_et_open_eur1.columns

In [ ]:
df_et_open_eur1.rename(columns={'Position ID': 'Open Position ID',
                                'Action':'Open Action', 'Amount':'Open Amount',
                                'Units':'Open Units',
                                'Open Date':'Open Datetime',
                                'Date':'Open_Date', 
                                'Amount_Eur':'Open Amount_Eur',
                                'open_unix_timestamp':'Open_unix_timestamp',
                                'Open':'EurOpen_x', 'High':'EurHigh_x',
                                'Low':'EurLow_x','Close':'EurClose_x',
                                'Weekday':'EurWeekday_x'}
                       ).transpose()

In [46]:
df_et_open_eur1.rename(columns={'Position ID': 'Open Position ID',
                                'Action':'Open Action', 'Amount':'Open Amount',
                                'Units':'Open Units',
                                'Open Date':'Open Datetime',
                                'Date':'Open_Date', 
                                'Amount_Eur':'Open Amount_Eur',
                                'open_unix_timestamp':'Open_unix_timestamp',
                                'Open':'EurOpen_x', 'High':'EurHigh_x',
                                'Low':'EurLow_x','Close':'EurClose_x',
                                'Weekday':'EurWeekday_x'},
                       inplace=True)

In [ ]:
df_et_close_eur1.columns

In [41]:
df_et_close_eur1.rename(columns={'Position ID': 'Close Position ID',
                                 'Action':'Close Action', 'Units':'Close Units',
                                 'Spread':'Close Spread',
                                 'Close Date':'Close Datetime',
                                 'Date':'Close_Date',
                                 'Profit':'Close Profit USD',
                                 'close_unix_timestamp':'Close_unix_timestamp',
                                 'Open':'EurOpen_y', 'High':'EurHigh_y',
                                 'Low':'EurLow_y',
                                 'Close':'EurClose_y','Weekday':'EurWeekday_y'},
                        inplace=True)

In [ ]:
df_et_close_eur1

In [ ]:
#df_open['open_unix_timestamp'] = pd.to_numeric(df_open['open_unix_timestamp'])
#df_open['Open Datetime'] = pd.to_datetime(df_open['open_unix_timestamp'],dayfirst=True,unit='s')

In [50]:
df_et_open_eur1.sort_values(by='Open_unix_timestamp',inplace=True)

In [ ]:
df_et_open_eur1.reset_index(inplace=True)
df_et_open_eur1.drop('index', axis=1,inplace=True)
df_et_open_eur1

In [ ]:
df_et_close_eur1.sort_values(by='Close_unix_timestamp',inplace=True)
df_et_close_eur1.reset_index(inplace=True)
df_et_close_eur1.drop('index', axis=1,inplace=True)
df_et_close_eur1

In [56]:
df_et_open_eur1.to_csv('et_open_alldata.csv',index=False)
df_et_close_eur1.to_csv('et_close_alldata.csv',index=False)